<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/css/AWAssgn1.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/AWAssgn1.css" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <title>Adaptive Assignment</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>



<nav class="navbar navbarbg">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand Black" href="/profile">Adaptive Web</a>
        </div>
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/login">Login History</a></li>-->
            <li><a href="/getLog">User Logs</a></li>
            <li><a href="/interest">Why did I log these?</a></li>
            <li><a href="/getDashBoard">Dashboard</a></li>
            <li><a href="/avgUserDasboard">Average User Analysis</a></li>
            <li><a href="/tagDashboard">Tags' Analysis</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome! </a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
        </ul>
    </div>
</nav>
</head>
